/* Basic CSS Reset to ensure consistent styling across browsers. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }