/* Basic CSS Reset to ensure consistent styling across browsers. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* general properties */

:root {
  --text-color: #ffffff;
  --secondary-color: #23c3b2;
  --background-color: #000;
}

.section {
  text-align: center;
  font-size: 3em;
  text-align: left;
  font-family: arial;
  color: var(--text-color);
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.96px;
  text-align: left;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  line-height: 28.64px;
  letter-spacing: 1px;
  text-align: left;
}

h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  letter-spacing: 0.8333333134651184px;
  text-align: left;
}

a {
  font-size: 11px;
  font-weight: 600;
  line-height: 13.13px;
  letter-spacing: 1.2999999523162842px;
  text-align: left;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  line-height: 22.4px;
  letter-spacing: 0.5px;
  text-align: left;
}

/* section-1 */

.section-1 {
  padding: 0 30px 0 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/malibu.jpg);
  background-position: center;
  background-size: cover;
}

.section-1__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-1__text p {
  opacity: 0.8;
}

.section-1__footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section-2 */

.section-2 {
  padding: 100px 30px 0 30px;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      transparent 40%,
      rgba(0, 0, 0) 100%
    ),
    url(/assets/Iphone_John_Wick_2.png);
  background-position: center;
  background-size: cover;
}

.section-2__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-2 p {
  opacity: 0.8;
}

/* section-3 */

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 8px solid var(--secondary-color);
  padding: 20px 30px 20px 30px;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(to bottom, transparent 40%, rgba(0, 0, 0, 0.83) 100%),
    url(/assets/grid_logo.jpg);
  background-position: center;
  background-size: cover;
}

.section-3 h4 {
  opacity: 0.6;
  margin-top: 10px;
}

button {
  background-color: var(--secondary-color);
  width: 200px;
  font-size: 1rem;
  width: 200px;
  height: 55px;
  border-radius: 5px;

  color: var(--text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 13.13px;
  letter-spacing: 1.2999999523162842px;
  text-align: center;
}

/* section-4 */

.section-4 {
  position: relative;
  padding: 0 20px 10px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: var(--background-color);
}

.section-4::before {
  z-index: 999;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 70%,
    var(--background-color) 98%
  );
}

.section-4__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 50px 0;
}

.section-4__text p {
  opacity: 0.8;
}

.section-4__logos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.section-4__logo-1,
.section-4__logo-2,
.section-4__logo-3,
.section-4__logo-4 {
  position: relative;
}

.section-4__logo-1,
.section-4__logo-2 {
  grid-row: 1;
}

.section-4__logo-3,
.section-4__logo-4 {
  grid-row: 2;
}

.section-4__logo-1 img,
.section-4__logo-2 img,
.section-4__logo-3 img,
.section-4__logo-4 img {
  border-radius: 5px;
}

.section-4__logo-1::before,
.section-4__logo-2::before,
.section-4__logo-3::before,
.section-4__logo-4::before {
  content: "-20%";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--background-color);
  position: absolute;
  top: 5px;
  right: -5px;
  width: 50px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
