/* Basic CSS Reset to ensure consistent styling across browsers. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* general properties */

:root {
  --text-color: #ffffff;
  --secondary-color: #23c3b2;
  --background-color: #000;
}

.section {
  text-align: center;
  font-size: 3em;
  text-align: left;
  font-family: arial;
  color: var(--text-color);
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* section-1 */

.section-1 {
  padding: 0 30px 0 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/malibu.jpg);
  background-position: center;
  background-size: cover;
}

.section-1__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-1__text p {
  opacity: 0.8;
}

.section-1__footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
